/* body {
    background-color: cadetblue;
} */

/* body {
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
    margin: 20px 0;
    padding: 0 50px;
}

.headOne {
    font-family: sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 80px;
    padding-bottom: 28px;
}

.headTwo {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
    padding-top: 64px;
    padding-left: 90px;
    padding-bottom: 28px
}

.headThree {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
    padding-top: 64px;
    padding-left: 90px;
    padding-bottom: 28px
}

.firstText {
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 23px;
    padding-top: 28px;
    padding-left: 90px;
    padding-bottom: 52px
}

.mainText {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 23px;
    padding-top: 52px;
    padding-left: 90px;
    padding-bottom: 56px
}

.fatText {
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 23px;
    padding-top: 56px;
    padding-left: 90px;
    padding-bottom: 28px
}

.listStyle {
    list-style: outside;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 23px;
    padding-top: 56px;
    padding-left: 106px;
    padding-bottom: 28px
}

.headerStyle {
    padding-left: 90px;
}

.quoteStyle {
    background-color: #c4b87e;
    border-left: 3px solid #958450;
    margin-left: 90px;
    padding: 15px 30px;
    padding-left: 17px;
    font-family: sans-serif;
} */
* {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ol,
ul,
blockquote,
hr {
    width: 700px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: bold;
}

p,
blockquote,
ol,
ul {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}

img {
    width: 1024px;
    margin: 0 auto;
    display: block;
}

h1+p{
  color: rgba(0, 0, 0, 0.4);  
  font-size: 22px;
}
a{
    color: inherit;
}

h1{
    margin: 50px auto;
    font-size: 38px;
    line-height: 44px;
}
h2{
    margin-top: 40px;
    font-size: 32px;
    line-height: 36px;
}
h3{
    margin-top: 36px;
    font-size: 28px;
    line-height: 32px;
}
h4{
margin-top: 32px;
    font-size: 24px;
    line-height: 28px;
}

h5 {
    margin-top: 28px;
    font-size: 22px;
    line-height: 24px;
}

hr{
    width: 1024px;
    margin: 20px auto;
}

h2+p,
h3+p,
h4+p,
h5+p{
    margin-top: 10px;
}

ul{
    list-style-type: disc;
    padding-left: 30px;
}

ol {
    list-style-type: decimal;
    padding-left: 30px;
}
li {
    margin: 8px;
}
.quoteStyle{
    font-style: italic;
        position: relative;
}
.quoteStyle::before {
    content: ''; 
    width: 3px;
    height: 100%;
    background-color: black;
    position: absolute;
    top:0;
    left:-17px; 
}

